{% extends 'base.html' %}

{% block content %}
    <div class="fluid-container">
        <h1 class="text-primary text-center my-2">Tờ trình trong năm <span class="text-success">{{ year }}</span></h1>
        <div>
            {% if filter %}
               <div class="wrapper col-lg-6 col-sm-12 m-auto">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Tên tờ trình</th>
                        <th scope="col">Số tờ trình</th>
                        <th scope="col">Loại tờ trình</th>
                        <th scope="col">Người tạo</th>
                        <th scope="col">Phòng</th>
                        <th scope="col">Year</th>
                        <th scope="col">Ngày lấy số</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tt in filter %}
                    <tr>
                        <td>{{ tt.title }}</td>
                        <td>{{ tt.identify }}</td>
                        <td>{{ tt.type }}</td>
                        <td>{{ tt.user }}</td>
                        <td>{{ tt.department }}</td>
                        <td>{{ tt.year }}</td>
                        <td>{{ tt.createdTime }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>has no data</p>
            {% endif %}
        </div>
    </div>
{% endblock %}